*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.kon{
    height:60px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;


}
.child-1{
    background-color: #1F2937;
    height: 50px;
    width: 500px;
    margin: 10px 0px 0px 200px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    
    

}
.child-2{
    background-color: #1F2937;;
    height: 50px;
    width: 1200px;
    color: #E5E7EB;
    margin: 10px 0px 0px 200px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    

}
h4 {
    color: white;
    font-size: 17px;

}
p{
    margin: 10px 0px 0px 200px;
    font-size: 13px;
}
.mon{
    height:350px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;



}
.p1{
    color: white;
    font-family: #F9FAF8;
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 70px 0px 0px 200px;
    
}
.p2{
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:1;
    font-size: small;
}
.child-4{
    background-color:gray;
    margin:70px 110px ;
    height: 200px;
    width: 450px;
    text-align: center;
    padding: 87px;
    color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:1;

}
.child-4:hover{
    border: 2px solid white;
}
.child-4:active{
    background-color: #E5E7EB;
}
.ron p{

    text-align: center;
    background-color:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size:30px;
    font-weight: 800;

}
.yon{
    background-color:white;
    height: 350px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.t1{
    background-color: white;
    height: 250px;
    width: 200px;
    margin: 2px 40px;
    border:solid rgb(0, 179, 255);
    border-radius: 7%;

}
.t1:hover{
    background: rgb(0, 179, 255);
}
.t1:active{
    background-color: #E5E7EB;
}


.text{
    background-color: aqua;
    height: 200px;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.hon{
    background-color: #E5E7EB;
    height:401px ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.a1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    font-size: larger;
    color: #1F2937;
}
.on{
    background-color:rgb(0, 85, 255);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 30px;


}
.q1{
    color: white;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.q2{
    margin-right: 250px;
}
.o2{
    font-weight: 100;
    font-size:10px;
    padding-top: 0;
    color: #E5E7EB;

}
.non{
    background-color: #1F2937;
    height: 50px;
    margin-top: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.u1{
    color:#E5E7EB;
}